.bootstrap-select .dropdown-menu li a:active{
    background-color: #f4c613;
}
.form-control{
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    background: #f8f9fa;
    border-radius: 12px;
    padding: 0 35px 0 35px;
}

.verify_link{
    color:#f4c613;
    font-size: 20px;
}

.verify_link:hover{
    color:#f4c613;
}
.label_padding{
    margin-left: 15px;
}


/* =========================================
                Account
============================================ */

.account-settings {
    background-color: #f2f6fa;
    border-radius: 8px;
}

.credential:first-child{
    padding-top: 15px;

}

.credential:last-child{
    padding-bottom: 15px;

}

.break{
    margin: 20px -20px;
    height: 2px;
    background-color: #fff;
}

.credential label{
    font-family: "Raleway", sans-serif;
    margin-left: 40px;
    line-height: 40px;
    font-weight: 600;

}

#delete-message{
    font-family: "Raleway", sans-serif;
    margin-right: 40px;
    line-height: 25px;
}

.credential .credential-detail{
    line-height: 40px;
    padding: 10px;
    margin-left: 18px;
    border-radius: 6px;
    white-space: nowrap;
    line-height: 40px;
    color: #202d4a;
}

.credential .edit{
    padding-left: 10px;
    visibility: hidden;
}

#remove_form{
    display: inline;
}

/* =========================================
                pagination
============================================ */
.pagination{
    justify-content: center;
}

.page-item .page-link{
    color:#36304a;
}


.page-item.active .page-link,
.page-item.active .page-link:hover{
    color:#fff;
    background-color: #36304a;
    border-color: #36304a;
}

.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.vote {
    text-align: center;
    justify-content: center;
}

.fa-caret-up:hover {
    color: #f4c613;
}

.fa-caret-down:hover {
    color: #007bff;
}


.answers {
    text-align : right;
}


.container .box
{
    position: relative;
    height: 400px;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container .box .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(400px at center 100px);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.container .box:hover .imgBx
{
    clip-path: circle(80px at center 100px);
    transition-delay: 0s;
}
.container .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .content
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.container .box .content h4
{
    margin: 0;
    padding: 0;
}
.container .box .content buttton
{
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 5px;
    display: inline-block;
}
.container .box .content h4,
.container .box .content p,
.container .box .content button
{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
}
.container .box:hover .content h4
{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s
}
.container .box:hover .content p
{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.7s
}
.container .box:hover .content button
{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s
}

.alert-dismissible {
    padding : 5px;
    margin : 5px;
    border-radius: 5px;
}
.position-fixed {
    margin: 10px 20px;
}

.link-button {
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}



/*table*/
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

span.username {
	color:#069;
	cursor: pointer;
	font-weight: bold;
}

span.username:hover{
	color: #f4c613;
}
