.bootstrap-select .dropdown-menu li a:active{
    background-color: #f4c613;
}
.form-control{
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    background: #f8f9fa;
    border-radius: 12px;
    padding: 0 35px 0 35px;
}

.verify_link{
    color:#f4c613;
    font-size: 20px;
}

.verify_link:hover{
    color:#f4c613;
}
.label_padding{
    margin-left: 15px;
}


/* =========================================
                Account
============================================ */

.account-settings {
    background-color: #f2f6fa;
    border-radius: 8px;
}

.credential:first-child{
    padding-top: 15px;

}

.credential:last-child{
    padding-bottom: 15px;

}

.break{
    margin: 20px -20px;
    height: 2px;
    background-color: #fff;
}

.credential label{
    font-family: "Raleway", sans-serif;
    margin-left: 40px;
    line-height: 40px;
    font-weight: 600;

}

#delete-message{
    font-family: "Raleway", sans-serif;
    margin-right: 40px;
    line-height: 25px;
}

.credential .credential-detail{
    line-height: 40px;
    padding: 10px;
    margin-left: 18px;
    border-radius: 6px;
    white-space: nowrap;
    line-height: 40px;
    color: #202d4a;
}

.credential .edit{
    padding-left: 10px;
    visibility: hidden;
}

#remove_form{
    display: inline;
}

/*profile photo */
 .picture {
     width: 200px;
     margin-right: 15px;
     height: 200px;
     border: 1px solid #dddddd;
     border-radius: 5px;
     cursor: pointer;
     display: flex;
     background-color: whitesmoke;
     transition-duration: 0.2s;
     justify-content: center;
     align-items: center;
     position: relative;
 }

.picture:hover #upload-icon {
    opacity: 1;
    font-size: 44px;
}

.picture #upload-icon {
    color: cornflowerblue;
    opacity: 0.5;
    font-size: 28px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.picture  img {
    height: 100%;
    width: 100%;
}

.team-member-overlay {
    background-color: rgba(33, 34, 38, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.picture:hover .team-member-overlay {
    opacity: 1;
}

ul.img-icons {
    padding: 0;
    margin-top: 20px;
}

ul.img-icons li {
    display: inline-block;
    padding: 0;
}

ul.img-icons li a {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

ul.img-icons li:nth-child(1) a:hover {
    background: #4BB543;
    color: whitesmoke;
    border-color: transparent;
}

ul.img-icons li:nth-child(2) a:hover {
    background: #bb2124;
    color: whitesmoke;
    border-color: transparent;
}

.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.vote {
    text-align: center;
}

.vote button {
	background: none;
	border: none;
}

.vote button i{
	color: #555;
}

.fa-caret-up:hover {
    color: #f4c613;
}

.fa-caret-down:hover {
    color: #007bff;
}


.answers {
    text-align : right;
}


.container .box
{
    position: relative;
    height: 400px;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container .box .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(400px at center 100px);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.container .box:hover .imgBx
{
    clip-path: circle(80px at center 100px);
    transition-delay: 0s;
}
.container .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .content
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.container .box .content h4
{
    margin: 0;
    padding: 0;
}
.container .box .content buttton
{
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 5px;
    display: inline-block;
}
.container .box .content h4,
.container .box .content p,
.container .box .content button
{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
}
.container .box:hover .content h4
{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s
}
.container .box:hover .content p
{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.7s
}
.container .box:hover .content button
{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s
}

.alert-dismissible {
    padding : 5px;
    margin : 5px;
    border-radius: 5px;
}
.position-fixed {
    margin: 10px 20px;
}

.card-header {
	margin-top: 0;
}

.forums-holder {
	margin-top: 80px;
}

.forum-index-header {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.forum-index-title {
	font-size: 30px;
	color: rgba(0,0,0,.5);
}

.forum-box {
	position: relative;
	box-sizing: border-box;
	border: .5px #eee solid;
	height: 180px;
	margin-bottom: 20px;
	background: white;
	padding: 5px 15px;
	border-radius: 0 5px 5px 0;
	transition-duration: .3s;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
				0 1px 1px 0 rgba(0,0,0,.14),
				0 1px 3px 0 rgba(0,0,0,.12);
}

.forum-box:hover {
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
	padding: 5px 10px 5px 20px;
}

.forum-box:before{
	content: "";
	position: absolute;
	width: 3px;
	height: 0;
	background: #007bff;
	left: 0;
	top: 0;
	transition-duration: .5s;
}

.forum-box:hover:before{
	content: "";
	position: absolute;
	width: 3px;
	height: 180px;
}

div.forum-box-body {
	height: 80%;
}

div.forum-box-footer {
	position: relative;
	height: 20%;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 12px;
	color: #888;
	padding-left: 5px;
}

div.forum-box-footer:before {
	content: "";
	position: absolute;
	height: 1px;
	background: #eee;
	left: 5px;
	right: 5px;
	top: 0;
}

.forum-box-title {
	margin: 0;
	margin-bottom: 10px;
}

.forum-box-title button{
	position: relative;
	font-size: 25px;
	border: none;
	padding: 0;
	background: none;
}

.forum-box-body {
	font-size: 15px;
}

.widget-card {
	background: white;
	position: relative;
	box-sizing: border-box;
	border: .5px #eee solid;
	height: 180px;
	margin-bottom: 20px;
	padding: 5px 15px;
}

.widget-card:before {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 10%;
	width: 89%;
	height: 50px;
	background: rgba(0,0,0,0.3);
	transform-origin: left;
	transform: skewY(2deg);
	z-index: -1;
	filter: blur(5px);
}

.widget-title {
	width: 100%;
	height: 30%;
	margin: 0;
	display: flex;
	align-items: center;
	border-bottom: .5px solid rgba(0,0,0,.4);
}

.widget-body {
	width: 100%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.widget-body ul {
	width: 50%;
}

.widget-body ul li {
	position: relative;
}

.widget-body ul li .tag-button{
	margin-left: 20px;
	white-space: nowrap;
}

.widget-body ul li:before {
	position: absolute;
	font-family: FontAwesome;
	content: "\f02b";
	color: #069;
	font-weight: 900;
	vertical-align: middle;
}

.answer-box {
	position: relative;
	padding: 5px;
	transition-duration: .4s;
}

.answer-box:hover {
	background: #fafafa;
}

.answer-box:active {
	background: #eee;
}

.answer-box:not(:last-child) {
	border-bottom: 1px #eee solid;
}

.big-container {
	height: 100%;
	padding: 77px 0 0 0;
	display: flex;
}


/*side navbar*/

#toggle-side-nav-btn{
    font-size: 30px;
    color: #f4c613;
    cursor: pointer;
    z-index: 2;
    position: absolute;

    margin-left: 35px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 12px;
}
#left-side {
	width: 250px;
	position: fixed;
	z-index: 5;
    box-shadow: 0 2px 1px 1px rgba(0,0,0,.2);
	transition-duration: .5s;
}

#left-side .side-nav {
	padding-top: 40px;
	background: white;
	height: 100vh;
	transition-duration: .5s;
}

#left-side .side-nav .side-nav-item a {
	width: 100%;
	height: 50px;
	padding-left: 20px;
	white-space: nowrap;
	color: #555;
	font-weight: 500;
	overflow-x: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: left;
	cursor: pointer;
	transition-duration: .3s;
    text-decoration: none;
}

#left-side .side-nav .side-nav-item i{
	margin-right: 10px;
	font-size: 1.2em;
}

/* #left-side .side-nav .side-nav-item:after { */
	/* content: ""; */
	/* position: absolute; */
	/* bottom: 0; */
	/* left: 8%; */
	/* right: 92%; */
	/* height: 2px; */
	/* background: rgb(249,198,19); */
	/* transition-duration: .4s; */
/* } */

/* #left-side .side-nav .side-nav-item:hover:after{ */
	/* right: 8%; */
/* } */

#left-side .side-nav .side-nav-item a:hover {
	color: rgb(249,198,19);
}

#right-side {
	margin-left: 250px;
	width: calc(100% - 250px);
	transition-duration: .5s;
}

#right-side .toggle-side-nav{
	position: fixed;
	height: 40px;
	z-index: 5;
}

#right-side .toggle-side-nav div{
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: .3;
	position: absolute;
	top: 10px;
	background: #f4c613;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	margin-left: 10px;
	font-size: 1.4em;
	color: white;
	transition-duration: .3s;
}

#right-side .toggle-side-nav div:hover{
	opacity: 1;
	cursor: pointer;
}

/*table*/
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

span.username {
	color:#069;
	cursor: pointer;
	font-weight: bold;
}

span.username:hover{
	color: #f4c613;
}
